@model IEnumerable<JobFinder.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="read-section">
        @if (ViewBag.ErrorMessage != null)
        {
            <div class="message">
                @ViewBag.ErrorMessage
            </div>
        }
        <h1>Current job categories</h1>

        <p>
            <a asp-action="Create">Add new job category to application</a>
        </p>
        <div>
            <a class="btl-anchor" asp-action="Index" asp-controller="Dashboard">Back to dashboard</a>
        </div>
        @{
            if (Model.Count() > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Slug)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Slug)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                                    <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p class="no-entries__message">Unfortunately, there are no categories added up yet. Why don't you try to add one?</p>
            }
        }
    </div>
