@model List<Application>
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="profile">
        <a asp-controller="JobFinderUsers" asp-action="Edit" asp-route-id="@ViewData["userId"]" class="profile--edit">Edit your profile</a>
        <h2>Your job application submittings</h2>
        @{
            if (Model.Count() > 0)
            {
                <div class="cards">
                    @foreach (var item in Model)
                    {
                        <div class="card">
                            <div class="card-title">
                                @Html.DisplayFor(modelItem => item.JobListing.Title)
                            </div>
                            <div class="card-title">
                                @Html.DisplayFor(modelItem => item.JobListing.Position)
                            </div>
                            <div class="card-description">
                                @Html.DisplayFor(modelItem => item.JobListing.Type)
                            </div>
                            <div class="card-description">
                                @Html.DisplayFor(modelItem => item.JobListing.Region), @Html.DisplayFor(modelItem => item.JobListing.Location)
                            </div>
                            <div class="card-description">
                                @Html.DisplayFor(modelItem => item.JobListing.Company.Name)
                            </div>
                            <div class="card-description">
                                @Html.DisplayFor(modelItem => item.JobListing.Category.Name)
                            </div>
                            <div class="card-description">
                                @Html.DisplayFor(modelItem => item.ApplicationWrittenAt)
                            </div>
                            <div class="card-description">
                                @Html.DisplayFor(modelItem => item.Status)
                            </div>

                            <div class="card-actions">
                                <a asp-controller="Applications" asp-action="Details" asp-route-applicationId="@item.ApplicationId">View</a>
                            </div>
                        </div>
                    }
                </div>
            } else
            {
                <p class="no-entries__message">You didn't apply for any jobs in this platform.</p>
            }
        }
    </div>
